@model WebApp.Models.EventLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vAction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vInput)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vInput)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vOutput)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vOutput)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dProcessTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dProcessTimestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vClientInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vClientInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
